@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");


* {
    box-sizing: border-box;
}


html {
    font-size: 10px;
}



body {
    /*line-height: 1.4;*/
    /*font-family: '궁서', '궁서체', 'GungSeo', cursive;*/
    font-size: 18px;
    /*color: #999;*/
}
a {
    color: inherit;
    text-decoration: none;
}