@import url(common.css);
* {
    box-sizing: border-box;
}

section {

    border: 2px double #123456;
    width: 550px;
    margin: 50px auto;

}
section .title {
    border-bottom: solid 1px #123456;
    background: #abcdef;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 10px;
    padding: 15px 0;
}
section .content {

    padding: 15px 20px;

}
section .content h2 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}
section .content:last-child {
    border-top: 2px dotted #123456;
}
p {
    font-size: 8px;
}